<div class="col-lg-12">
  <div class="col-lg-6 mx-auto">
    <h1 style="text-align: center;">Welcome to OpenBusiness</h1>
    <p>
      OpenBusiness, the solution for tracking your businesses orders, customers, and products!
      <br><br>
      <button class="btn btn-outline-primary col-lg-4 offset-lg-4" (click)="signup()">
        Get Started
      </button>
      <br>
      <small class="col-lg-4 offset-lg-4">Already have an account? <a routerLink="/login">Login</a></small>
    </p>
  </div>
</div>
