<div class="col-lg-10 mx-auto">
  <div *ngIf="!customers">
    <p>
      No customers yet.
    </p>
  </div>
  <table class="table table-striped table-hover table-sm table-bordered">
    <thead class="thead-dark" *ngIf="customers">
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.first_name }} {{ customer.last_name }}</td>
      <td *ngIf="customer.contactMethod == 'email'">{{ customer.email }}</td>
      <td *ngIf="customer.contactMethod == 'phone'">{{ customer.phone }}</td>
      <td>
        {{ customer.street }} {{ customer.city }} {{ customer.state }}
        {{ customer.postal }}
      </td>
      <td>
        <a class="btn btn-primary col-lg-8" routerLink="/customers/{{ customer._id }}">Details</a>
        <button class="btn btn-danger col-lg-4" (click)="onDelete(customer)">X</button>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <a class="btn btn-outline-success btn-sm btn-block" routerLink="/customers/new">Add</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
